@using UserInterface.Web.ViewModels.Yelp

@model BusinessModelDetails

@{
    ViewData["Title"] = "Details";
}

<h3>@Html.DisplayFor(model => model.Name)</h3>

<div class="row">
    <div class="form-group">
        <label>@Html.DisplayNameFor(model => model.Address):</label>
        @Html.DisplayFor(model => model.Address)
        <label>  </label>
        <label>@Html.DisplayNameFor(model => model.City):</label>
        @Html.DisplayFor(model => model.City)
        <label>  </label>
        <label>@Html.DisplayNameFor(model => model.State):</label>
        @Html.DisplayFor(model => model.State)
    </div>
</div>

<div class="row">
    <div class="col-md-4">
        <div class="form-group">
            <label>@Html.DisplayNameFor(model => model.Stars)</label>
            @Html.DisplayFor(model => model.Stars)
        </div>
        <div class="form-group">
            <label>@Html.DisplayNameFor(model => model.ReviewCount):</label>
            @Html.DisplayFor(model => model.ReviewCount)
        </div>
        <div class="form-group">
            <label>@Html.DisplayNameFor(model => model.IsOpen):</label>
            @Html.DisplayFor(model => model.IsOpen)
        </div>
    </div>
</div>

<div class="row">
    <div class="form-group">
        <label style="font-weight: bold;">@Html.DisplayNameFor(model => model.Categories):</label>
        @foreach (var item in Model.Categories)
        {
            @Html.DisplayFor(modelItem => item)
            <label> | </label>
        }
    </div>
</div>

<div style="text-align: center; margin-top:10px">
    <label for="input" style="font-weight: bold;">Business Hours</label>
</div>
<table class="table">
    <thead>
        <tr>
            <th>@Html.DisplayNameFor(model => model.Hours.Monday)</th>
            <th>@Html.DisplayNameFor(model => model.Hours.Tuesday)</th>
            <th>@Html.DisplayNameFor(model => model.Hours.Wednesday)</th>
            <th>@Html.DisplayNameFor(model => model.Hours.Thursday)</th>
            <th>@Html.DisplayNameFor(model => model.Hours.Friday)</th>
            <th>@Html.DisplayNameFor(model => model.Hours.Saturday)</th>
            <th>@Html.DisplayNameFor(model => model.Hours.Sunday)</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>@Html.DisplayFor(model => model.Hours.Monday)</td>
            <td>@Html.DisplayFor(model => model.Hours.Tuesday)</td>
            <td>@Html.DisplayFor(model => model.Hours.Wednesday)</td>
            <td>@Html.DisplayFor(model => model.Hours.Thursday)</td>
            <td>@Html.DisplayFor(model => model.Hours.Friday)</td>
            <td>@Html.DisplayFor(model => model.Hours.Saturday)</td>
            <td>@Html.DisplayFor(model => model.Hours.Sunday)</td>
        </tr>
    </tbody>
</table>

<div class="row">
    <div class="form-group">
        <label style="font-weight: bold;">@Html.DisplayNameFor(model => model.Chekin) (@Html.DisplayFor(model => model.ChekinCount)):</label>
        <br />
        @foreach (var item in Model.Chekin)
        {
            @Html.DisplayFor(modelItem => item)
            <label> | </label>
        }
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>