@using UserInterface.Web.ViewModels.Yelp
@using X.PagedList.Mvc.Core;
@model X.PagedList.IPagedList<BusinessModel>

@{
    ViewBag.Title = "Business List";
}
<h1>Business</h1>
<p>+ 4 Stars</p>

<form asp-controller="Business" asp-action="Index" method="GET">
    <p>
        <label>Name: <input type="text" name="search" /></label>
        <input type="submit" value="Search" />
    </p>
</form>

<table class="table">
    <thead>
        <tr>
            <th>Name</th>
            <th>Address</th>
            <th>City</th>
            <th>State</th>
            <th>Postal Code</th>
            <th>Latitude</th>
            <th>Longitude</th>
            <th>Stars</th>
            <th>Review Count</th>
            <th>IsOpen</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@Html.DisplayFor(modelItem => item.Name)</td>
                <td>@Html.DisplayFor(modelItem => item.Address)</td>
                <td>@Html.DisplayFor(modelItem => item.City)</td>
                <td>@Html.DisplayFor(modelItem => item.State)</td>
                <td>@Html.DisplayFor(modelItem => item.PostalCode)</td>
                <td>@Html.DisplayFor(modelItem => item.Latitude)</td>
                <td>@Html.DisplayFor(modelItem => item.Longitude)</td>
                <td>@Html.DisplayFor(modelItem => item.Stars)</td>
                <td>@Html.DisplayFor(modelItem => item.ReviewCount)</td>
                <td>@Html.DisplayFor(modelItem => item.IsOpen)</td>
                <td>
                    <div class="dropdown">
                        <button class="btn btn-primary">Actions</button>
                        <div class="dropdown-content">
                            <a href="@Url.Action("Details", new { id = item.BusinessId })">Details</a>
                            <a href="@Url.Action("Reviews", new { id = item.BusinessId })">Reviews</a>
                        </div>
                    </div>
                </td>
            </tr>
        }
    </tbody>
</table>

<p>Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount</p>
<div class="pagination">
    @Html.PagedListPager(Model, page => Url.Action("Index", new { page }))
</div>
