@using UserInterface.Web.ViewModels.Yelp

@model UserModel

@{
    ViewData["Title"] = "Details";
}

<h3>@Html.DisplayFor(model => model.Name)</h3>

<div class="row">
    <div class="form-group">
        <label>@Html.DisplayNameFor(model => model.ReviewCount):</label>
        @Html.DisplayFor(model => model.ReviewCount)
        <label>  </label>
        <label>@Html.DisplayNameFor(model => model.YelpingSince):</label>
        @Html.DisplayFor(model => model.YelpingSince)
        <label>  </label>
        <label>@Html.DisplayNameFor(model => model.Useful):</label>
        @Html.DisplayFor(model => model.Useful)
    </div>
</div>

<div class="row">
    <div class="col-md-4">
        <div class="form-group">
            <label>@Html.DisplayNameFor(model => model.Funny)</label>
            @Html.DisplayFor(model => model.Funny)
        </div>
        <div class="form-group">
            <label>@Html.DisplayNameFor(model => model.Cool):</label>
            @Html.DisplayFor(model => model.Cool)
        </div>
        <div class="form-group">
            <label>@Html.DisplayNameFor(model => model.Fans):</label>
            @Html.DisplayFor(model => model.Fans)
        </div>
    </div>
</div>

<div class="row">
    <div class="form-group">
        <label>@Html.DisplayNameFor(model => model.Elite):</label>
        @foreach (var item in Model.Elite)
        {
            @Html.DisplayFor(modelItem => item)
            <label> | </label>
        }
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>
